

body {
    font-family: 'Noto Sans Sinhala', sans-serif;
    background-color: #C4513B
}

h1, .topmain-text {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.topheader-name {
    text-align: right;
}

.topmain-img {
    border-radius: 25px;
}

.freecodecamp {
    text-align: right;
}

.header {
    font-weight: 700;
    
}

.navbar:hover {
    text-decoration: none;
}

.footer-item {
    text-decoration: none;
}

li {
    list-style-type: none;
    color: black;
}

.nav-item:hover, li:hover{
    background-color: beige;
    border-radius: 5px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}

.footer-list{
    columns: 250px;
}

.don-img{
    padding: 0px 3000px 0px 600px;
}